@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  letter-spacing: 0.05em;
  word-spacing: 0.15em;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: calc(1rem + 1.4vw);
  font-family: 'Noto Sans Mono', monospace;
}
p {
  font-size: calc(0rem + 1.1vw);
}
.navbar-brand, .navbar-brand:hover{
    color: #ffffff;
}

.navbar {
  position: fixed;
  width: -webkit-fill-available;
  background: transparent;
  z-index: 100;
}
.navbar-scrolled {
  background: #edeff3;
  /* padding: 10px 0; */
  transition: all 0.5s;
}
.navbar > div {
  max-width: 1200px;
}
.nav-link  {
    color: #050505;
}
.navbar-nav .nav-link.active, .nav-link:hover {
    color: #061567;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-toggler {
    color: transparent;
}
.navbar-toggler:hover > svg path {
    fill: #000000;
}
.nav-logo {
    display: flex;
    /* background-color: #edeff3; */
}
.nav-logo > img {
  width: 8rem;
  height: auto;
}
.nav-logo > a {
    font-size: 1.5rem;
}
#icons-align {
    justify-content: end;
}
#icons-align > ul {
    align-items: center;
}
.icons {
    width: 1.25rem;
}
svg path {
    fill: #000e68;
}
.mav-item-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
}



/* <!--start--> */
section {
  padding: 2rem;
}
section > div {

  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

}
p {
  color: rgb(64, 64, 64);
  line-height: 1.8;
  margin-bottom: 25px;
}


#home{
    width: auto;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 0;
}
.home-bg {
  width: auto;
  height: 100vh;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  background: -webkit-linear-gradient(top, #FFFFFF, #EDEFF3);
  background: -moz-linear-gradient(top, #FFFFFF, #EDEFF3);
  background: linear-gradient(to bottom, #FFFFFF, #EDEFF3);
}
.home-bg > div {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;

}
.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
}
.main-box > .home-img > img {
  width: 100%;
}
.main-box > .home-text > .home-title > h1 {
  font-family: 'Noto Sans Mono', monospace;
  /* font-size: 2.75rem; */
}
.main-box > .home-text > .home-para {
  /* font-family: 'Noto Sans Mono', monospace; */
}

#about {
  /* Created with https://www.css-gradient.com */
  background: #dddddd;
  /* background: -webkit-linear-gradient(bottom, #FFFFFF, #EDEFF3);
  background: -moz-linear-gradient(bottom, #FFFFFF, #EDEFF3);
  background: linear-gradient(to top, #FFFFFF, #EDEFF3); */
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .about > .img {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */
.about > .img > h1 {
  /* font-size: 3.5rem; */
  font-family: 'Noto Sans Mono', monospace;
}

.container{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}
.container > div {
  padding: 2rem;
  margin: 1rem;
}
.col1{
  display: flex;
  background-color:rgb(255, 255, 255);
  flex-direction: column;
  border-radius: 8px;
}
.col2{
  display: flex;
  background-color:rgb(255, 255, 255);
  flex-direction: column;
  border-radius: 8px;
}


#commitee {
  padding: 2rem;
  background:#fff;
}
#comm{
  display: grid;
  flex-wrap: wrap;
}
#fac {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}
#fac > .faculty-img > img {
  width: 100%;
}
.grid {
  display: grid;
}
.gallery-grid {
  padding-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem
}
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery img{
  width:50%;
  height:auto;
}
.faculty-img {
  width: 85%;
}
.desc{
  text-align:center;
  font-size: calc(0em + 0.85vw);
}
#comm > #stu{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}
#stu > .student-svg {
  width: 85%;
}
#stu > .student-svg > img {
  width: 100%;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f82249;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f82249;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}


/* Media  */
/* tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .nav-logo > img {
    width: 7rem;
    height: auto;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-bg{
    height: calc(100vh - 120px);
  }
  .home-img {
    width: 65%;
  }
  .container {
    flex-direction: row;
  }
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
  #fac {
    grid-template-columns: 1fr 1fr;
  }
  .student-content {
    padding: 2rem;
  }
  .faculty-content {
    padding: 2rem;
  }
}
/* mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  p {
    font-size: calc(0rem + 2.1vw);
    margin-bottom: 0;
  }
  .h2, h2 {
    font-size: calc(1.125rem + .2vw);
    margin-bottom: 0;
   }
  .navbar {
    background: #edeff3;
  }
  .nav-logo > img {
    width: 6rem;
    height: auto;
  }
  .home-bg{
    height: calc(100vh - 120px);
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-img {
    width: 75%;
  }
  .icons {
    width: 1rem;
  }
  .container{
    flex-direction: column;
  }
  .container > div {
    padding: 1.25rem;
    margin: 0.5rem;
  }
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-device-width : 2000px) {
  .home-bg > div, .navbar > div, section > div {
    max-width: 1700px;
  }
}